{%extends 'hello/base.html'%}

{%block title%} Adding user {%endblock%}

{% load crispy_forms_tags %}

{%block content%}
    {% if user.is_authenticated %}
    <center>
    <h1> Adding CLub Rep</h1>
        <br/>
        {% if submitted %}
            Your account was submited succesfully
        {% else %}

        
        <form action ="" method="POST">
            {%csrf_token%}

            {{form|crispy}}

            <input type="submit" value="Submit" class="btn btn-success">



        </form>
        {% endif %}
    </center>
    
    {% else %}
    <h3>Please <a href = "/">Login</a> First to be able to register </h3>
    {% endif %}
    
{%endblock%}