{% extends "hello/base.html" %}

{% block title %}

view

{%endblock%}


{% block content %}
    {% if user.is_authenticated %}
    <h2>UWEFLIX clubs:</h2>
    <table class="table table-striped table-hover table-bordered">
    {% for td in club_view %}
        <tr>
        <td><br/><strong>Club: <a href="{% url 'showClub' td.id %}">{{td.name}}</a></strong></td>
        <td align="right"><br/><strong><a href="{% url 'deleteClub' td.id%}">Delete </a></strong></td>
        
    </tr>
    
    {% endfor %}

{% else %}
<h3>Please <a href = "/">Login</a> First to be able to register </h3>
{% endif %}

{%endblock%}